{% extends 'cadastro/default.html' %}

{% load bootstrap3 %}

{% load static %}

{% load form_tools %}

{% block css %}

    <link href="{% static 'cadastro/bolsista-style.css' %}" rel="stylesheet">

{% endblock %}

{% block js %}
<!-- <script src="https://rawgit.com/Lautert/helpers/master/javascript.helpers.js"></script> -->

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
  <script type="text/javascript" src="{% static 'cadastro/bolsista-scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'cadastro/lock-poupanca-caixa.js' %}"></script>

  <script type="text/javascript">
      
        $(document).ready(function () {
            $('#modal-file').modal({% if formf.errors %}'show'{% else %}'hide'{% endif %});
        });

        $(document).ready(function () {
            $('#modal-emprestimo').modal({% if forme.errors %}'show'{% else %}'hide'{% endif %});
        });

  </script>

{% endblock %}

{% block content %}
    <div class="col-md-9">

        {% if form.errors or formp.errors %}

            <div class="alert alert-danger">
              <strong><a data-toggle="collapse" href="#errors-form" role="button" aria-expanded="false" aria-controls="errors-form">Erros</a> no formulário!</strong> Verifique os campos e tente novamente

            
            </div>

            <div class="collapse multi-collapse alert alert-warning" id="errors-form">
              <div class="card card-body">
                {{ form.errors }}
                {{ formp.errors }}
              </div>
            </div>

        {% endif %}

        <div class="form-group row {% if form|is_required:form.sigla.name %} required {% endif %}">
                    <label for="inputKey" class="col-md-2 control-label">{{ form.sigla.label }}:</label>
                    <div class="col-md-10">
                        {{ form.sigla }}
                        <div class="help-block">{{ form.sigla.errors }}</div>
                    </div>
                </div>


        <form class="form-horizontal" role="form" method="POST" action="{% if pk %} {% url 'bolsista-editar' pk %} {% else %}{% url 'bolsista-criar' %}{% endif %}">
            {% csrf_token %}
            <fieldset class="well the-fieldset">

                <legend class="the-legend">Identificação do Bolsista</legend>

                <div class="form-group {% if form|is_required:form.tipo_vinculo.name %} required {% endif %} {% if form.tipo_vinculo.errors %} {{ 'has-error' }}{% endif %}">
                    <label for="name" class="control-label col-sm-2">Vínculo:</label>
                    <div class="col-sm-10">
                        {{ form.tipo_vinculo }}
                        <div class="help-block">{{ form.tipo_vinculo.errors }}</div>
                    </div>
                </div>

                <div class="form-group {% if form|is_required:form.no_bolsista.name %} required {% endif %} {% if form.no_bolsista.errors %} {{ 'has-error' }}{% endif %}">
                    <label for="name" class="control-label col-sm-2">Nome:</label>
                    <div class="col-sm-10">
                        {{ form.no_bolsista }}
                        <div class="help-block">{{ form.no_bolsista.errors }}</div>
                    </div>
                </div>

                <div class="form-group {% if form|is_required:form.email.name %} required {% endif %} {% if form.email.errors %} {{ 'has-error' }}{% endif %}">
                    <label for="name" class="control-label col-sm-2">E-mail:</label>
                    <div class="col-sm-10">
                        {{ form.email }}
                        <div class="help-block">{{ form.email.errors }}</div>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="{% if form|is_required:form.cpf.name %} required {% endif %} {% if form.cpf.errors %} {{ 'has-error' }}{% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">CPF:</label>
                        <div class="col-md-4">
                            {{ form.cpf }}
                            <div class="help-block">{{ form.cpf.errors }}</div>
                        </div>
                    </div>
                    <div class="{% if form|is_required:form.dt_nascimento.name %} required {% endif %} {% if form.dt_nascimento.errors %} {{ 'has-error' }}{% endif %}">
                        <label for="inputValue" class="col-md-3 control-label">Data de Nascimento:</label>
                        <div class="col-md-3">
                            {{ form.dt_nascimento }}
                            <div class="help-block">{{ form.dt_nascimento.errors }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="{% if form|is_required:form.sigla.name %} required {% endif %} {% if form.rg.errors %} {{ 'has-error' }}{% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">RG:</label>
                        <div class="col-md-4">
                            {{ form.rg }}
                            <div class="help-block">{{ form.rg.errors }}</div>
                        </div>
                    </div>
                    <div class="{% if form|is_required:form.orgao_expedidor.name %} required {% endif %} {% if form.orgao_expedidor.errors %}{{ 'has-error' }}{% endif %}">
                        <label for="inputValue" class="col-md-3 control-label">Órgão Expedidor:</label>
                        <div class="col-md-3">
                            {{ form.orgao_expedidor }}
                            <div class="help-block">{{ form.orgao_expedidor.errors }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="{% if form|is_required:form.telefone.name %} required {% endif %} {% if form.telefone.errors %}{{ 'has-error' }}{% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">Telefone:</label>
                        <div class="col-md-4">
                            {{ form.telefone }}
                            <div class="help-block">{{ form.telefone.errors }}</div>
                        </div>
                    </div>

                    <div class="{% if form|is_required:form.celular.name %} required {% endif %} {% if form.celular.errors %}{{ 'has-error' }}{% endif %}">
                        <label for="inputValue" class="col-md-3 control-label">Celular:</label>
                        <div class="col-md-3">
                            {{ form.celular }}
                            <div class="help-block">{{ form.celular.errors }}</div>
                        </div>
                    </div>
                </div>


                <div class="form-group row ">
                    <div class="{% if form|is_required:form.matricula.name %} required {% endif %} {% if form.matricula.errors %}{{ 'has-error' }}{% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">Matrícula:</label>
                        <div class="col-md-4">
                            {{ form.matricula }}
                            <div class="help-block">{{ form.matricula.errors }}</div>
                        </div>
                    </div>

                    <div class="{% if form|is_required:form.ic_ativo.name %} required {% endif %} {% if form.ic_ativo.errors %}{{ 'has-error' }}{% endif %}">
                        <label for="inputValue" class="col-md-3 control-label">Ativo:</label>
                        <div class="col-md-1">
                            {{ form.ic_ativo }}
                            <div class="help-block">{{ form.ic_ativo.errors }}</div>
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset class="well">

                <legend class="the-legend">Informações Profissionais</legend>

                <div class="form-group {% if form|is_required:form.pis_nit.name %} required {% endif %} {% if form.pis_nit.errors %}{{ 'has-error' }}{% endif %}">
                    <label for="name" class="control-label col-sm-2">PIS ou NIT:</label>
                    <div class="col-sm-10">
                        {{ form.pis_nit }}
                        <div class="help-block">{{ form.pis_nit.errors }}</div>
                    </div>
                </div>

                <div class="form-group {% if form|is_required:form.link_lattes.name %} required {% endif %} {% if form.link_lattes.errors %}{{ 'has-error' }}{% endif %}">
                    <label for="name" class="control-label col-sm-2">Lattes:</label>
                    <div class="col-sm-10">
                        {{ form.link_lattes }}
                        <div class="help-block">{{ form.link_lattes.errors }}</div>
                    </div>
                </div>

            </fieldset>

            <fieldset class="well">
            <legend class="the-legend">Especificação da Bolsa</legend>

            {{ formp.bolsista }}

            <div class="form-group {% if formp|is_required:formp.projeto.name %} required {% endif %} {% if formp.projeto.errors %}{{ 'has-error' }}{% endif %}">
                <label for="name" class="control-label col-sm-2">Projeto Atual</label>
                <div class="col-sm-10">
                        {{formp.projeto }}
                    <div class="help-block">{{ formp.projeto.errors }}</div>
                </div>
            </div>

            <div class="form-group row">
                <div class="{% if formp|is_required:formp.funcao.name %} required {% endif %} {% if formp.funcao.errors %}{{ 'has-error' }}{% endif %}">
                    <label for="inputKey" class="col-md-2 control-label">Função:</label>
                    <div class="col-md-4">
                        {{ formp.funcao }}
                        <div class="help-block">{{ formp.funcao.errors }}</div>
                    </div>
                </div>
                <div class="{% if formp|is_required:formp.categoria.name %} required {% endif %} {% if formp.categoria.errors %}{{ 'has-error' }}{% endif %}">
                    <label for="inputKey" class="col-md-2 control-label">Categoria:</label>
                    <div class="col-md-4">
                        {{ formp.categoria }}
                        <div class="help-block">{{ formp.categoria.errors }}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row ">
                <div class="{% if formp|is_required:formp.modalidade.name %} required {% endif %} {% if formp.orgao_expedidor.errors %}{{ 'has-error' }}{% endif %}">
                    <label for="inputValue" class="col-md-2 control-label">Modalidade:</label>
                    <div class="col-md-4">
                        {{ formp.modalidade }}
                        <div class="help-block">{{ formp.modalidade.errors }}</div>
                    </div>
                </div>
                <div class="{% if formp|is_required:formp.nivel.name %} required {% endif %} {% if formp.nivel.errors %}{{ 'has-error' }}{% endif %}">
                    <label for="inputKey" class="col-md-2 control-label">Nivel:</label>
                    <div class="col-md-4">
                        {{ formp.nivel }}
                        <div class="help-block">{{ formp.nivel.errors }}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row ">
                <div class="{% if formp|is_required:formp.inicio_vigencia.name %} required {% endif %} {% if formp.inicio_vigencia.errors %}{{ 'has-error' }}{% endif %}">
                    <label for="inputKey" class="col-md-2 control-label">Início da Vigência:</label>
                    <div class="col-md-4">
                        {{ formp.inicio_vigencia }}
                        <div class="help-block">{{ formp.inicio_vigencia.errors }}</div>
                    </div>
                </div>
                <div class="{% if formp|is_required:formp.termino_vigencia.name %} required {% endif %} {% if formp.termino_vigencia.errors %}{{ 'has-error' }}{% endif %}">
                    <label for="inputValue" class="col-md-2 control-label">Término da Vigência:</label>
                    <div class="col-md-4">
                        {{ formp.termino_vigencia }}
                        <div class="help-block">{{ formp.termino_vigencia.errors }}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row ">
                <div class="{% if formp|is_required:formp.periodo_total.name %} required {% endif %} {% if formp.periodo_total.errors %}{{ 'has-error' }}{% endif %}">
                    <label for="inputKey" class="col-md-2 control-label">Período Total Previsto:</label>
                    <div class="col-md-4">
                        {{ formp.periodo_total }}
                        <div class="help-block">{{ formp.periodo_total.errors }}</div>
                    </div>
                </div>
                <div class="{% if formp|is_required:formp.horas_semanais.name %} required {% endif %} {% if formp.horas_semanais.errors %}{{ 'has-error' }}{% endif %}">
                    <label for="inputValue" class="col-md-2 control-label">Horas Semanais:</label>
                    <div class="col-md-4">
                        {{ formp.horas_semanais }}
                        <div class="help-block">{{ formp.horas_semanais.errors }}</div>
                    </div>
                </div>
            </div>


            <div class="form-group row ">
                <div class="{% if formp|is_required:formp.valor_mensal.name %} required {% endif %} {% if formp.valor_mensal.errors %}{{ 'has-error' }}{% endif %}">
                    <label for="inputKey" class="col-md-2 control-label">Valor Mensal:</label>
                    <div class="col-md-4">
                        {{ formp.valor_mensal }}
                        <div class="help-block">{{ formp.valor_mensal.errors }}</div>
                    </div>
                </div>
                <div class="{% if formp|is_required:formp.valor_total.name %} required {% endif %} {% if formp.valor_total.errors %}{{ 'has-error' }}{% endif %}">
                    <label for="inputValue" class="col-md-2 control-label">Valor Total:</label>
                    <div class="col-md-4">
                        {{ formp.valor_total }}
                        <div class="help-block">{{ formp.valor_total.errors }}</div>
                    </div>
                </div>
            </div>

        </fieldset>

            <fieldset class="well">

                <legend class="the-legend">Endereço</legend>

                <div class="form-group row">
                  
                </div>
                
                <div class="form-group row">
                    <div class="{% if form|is_required:form.endereco.name %} required {% endif %} {% if form.endereco.errors %}{{ 'has-error' }}{% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">Endereço:</label>
                        <div class="col-md-4">
                            {{ form.endereco }}
                            <div class="help-block">{{ form.endereco.errors }}</div>
                        </div>
                    </div>

                    <div class="{% if form|is_required:form.cidade.name %} required {% endif %} {% if form.cidade.errors %}{{ 'has-error' }}{% endif %}">
                        <label for="inputValue" class="col-md-2 control-label">Cidade:</label>
                        <div class="col-md-4">
                            {{ form.cidade }}
                            <div class="help-block">{{ form.cidade.errors }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">

                    <div class="{% if form|is_required:form.cep.name %} required {% endif %} {% if form.cep.errors %}{{ 'has-error' }}{% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">CEP:</label>
                        <div class="col-md-4">
                            {{ form.cep }}
                            <div class="help-block">{{ form.cep.errors }}</div>
                        </div>
                    </div>

                    <div class="{% if form|is_required:form.uf.name %} required {% endif %} {% if form.uf.errors %}{{ 'has-error' }}{% endif %}">
                        <label for="inputValue" class="col-md-2 control-label">UF:</label>
                        <div class="col-md-4">
                            {{ form.uf }}
                            <div class="help-block">{{ form.uf.errors }}</div>
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset class="well">

                <legend class="the-legend">Dados Bancários</legend>
                <div class="form-group row">
                    <div class="{% if form|is_required:form.banco.name %} required {% endif %} {% if form.banco.errors or form.errors.poupanca_sem_caixa %}{{ 'has-error' }}{% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">Banco:</label>
                        <div class="col-md-4">
                            {{ form.banco }}
                            <div class="help-block">{{ form.banco.errors }}</div>
                        </div>
                    </div>

                    <div class="{% if form|is_required:form.agencia.name %} required {% endif %} {% if form.agencia.errors %}{{ 'has-error' }}{% endif %}">
                        <label for="inputValue" class="col-md-2 control-label">Agência:</label>
                        <div class="col-md-4">
                            {{ form.agencia }}
                            <div class="help-block">{{ form.agencia.errors }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="{% if form|is_required:form.tipo_conta.name %} required {% endif %} {% if form.tipo_conta.errors or form.errors.poupanca_sem_caixa %}{{ 'has-error' }}{% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">Tipo de Conta:</label>
                        <div class="col-md-4">
                            {{ form.tipo_conta }}
                            <div class="help-block">{{ form.tipo_conta.errors }}</div>
                            <div class="help-block">{{ form.errors.poupanca_sem_caixa }}</div>
                        </div>
                    </div>

                    <div class="{% if form|is_required:form.conta.name %} required {% endif %} {% if form.conta.errors %}{{ 'has-error' }}{% endif %}">
                        <label for="inputValue" class="col-md-2 control-label">Conta:</label>
                        <div class="col-md-4">
                            {{ form.conta }}
                            <div class="help-block">{{ form.conta.errors }}</div>
                        </div>
                    </div>
                </div>

            </fieldset>


            <fieldset class="well">

                <legend class="the-legend">Dados de Acesso UnB</legend>
                <div class="form-group {% if form|is_required:form.email_unb.name %} required {% endif %} {% if form.email_unb.errors %}{{ 'has-error' }}{% endif %}">
                    <label for="name" class="control-label col-sm-2">E-mail UnB</label>
                    <div class="col-sm-10">
                        {{ form.email_unb }}
                        <div class="help-block">{{ form.email_unb.errors }}</div>
                    </div>
                </div>

                <div class="form-group {% if form|is_required:form.telefone_local.name %} required {% endif %} {% if form.telefone_local.errors %}{{ 'has-error' }}{% endif %}">
                    <label for="name" class="control-label col-sm-2">Telefone Local</label>
                    <div class="col-sm-4">
                        {{ form.telefone_local }}
                        <div class="help-block">{{ form.telefone_local.errors }}</div>
                    </div>
                </div>


            </fieldset>

            <button type="submit" class="btn btn-info">Salvar</button>
            <a href="{% url 'bolsista' %}" class="btn btn-default">Voltar</a>
            <br><br>


        </form>
    </div>

    <div class="col-md-3">

        <fieldset class="well the-fieldset opacity">
            <legend class="the-legend">Arquivos</legend>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-file" {% if not pk %}disabled{% endif %}>Adicionar</button>

            <br><br>

            {% if not pk %}
                <div style="color: #bab3b3;">Crie um bolsista para depois adicionar arquivos</div>
            {% endif %}

            <div>
                <table class="table table-striped file-table">

                    {% for document in documents %}
                        <tr>
                            <td class="col-sm-2"><a href="{% url 'remover-arquivo-bolsista' document.pk %}" class="delete-file-x" onclick="return confirm('Tem certeza? O arquivo será apagado permanentemente')"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                            <td class="col-sm-2"><i class="fa fa-file-word-o file-icon" aria-hidden="true"></i></td>
                            <td class="col-sm-8"><a target="_blank" href="{% url 'show-document' document.pk %}" class="open-file">{{ document.filename }}</a></td>
                            <!--<td><img src="{{ document.arquivo.url }}" alt=""></td>-->
                        </tr>
                    {% endfor %}

                </table>
            </div>



        </fieldset>

        <fieldset class="well the-fieldset opacity">
            <legend class="the-legend">Empréstimos</legend>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-emprestimo" {% if not pk %}disabled{% endif %}>Adicionar</button>

            <br><br>

            {% if not pk %}
                <div style="color: #bab3b3;">Crie um bolsista e vincule-o a um projeto para depois conceder empréstimos</div>
            {% endif %}

            <div>
                <table class="table table-striped file-table">

                    {% for emprestimo in emprestimos %}
                        <tr>
                            <td class="col-sm-2"><a href="{% url 'remover-emprestimo-equipamento-bolsista' emprestimo.pk %}" class="delete-file-x" onclick="return confirm('Tem certeza? O registro será apagado permanentemente')"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                            <td class="col-sm-2"><i class="fa fa-handshake-o" aria-hidden="true"></i></td>
                            <td class="col-sm-8"><a target="_blank" href="{% url 'show-emprestimoequipamento' emprestimo.pk %}" class="open-file">{{ emprestimo }}</a></td>
                            <!--<td><img src="{{ emprestimo.arquivo.url }}" alt=""></td>-->
                        </tr>
                    {% endfor %}

                </table>
            </div>



        </fieldset>

        <fieldset class="well the-fieldset opacity">
            <legend class="the-legend">Declarações</legend>

            {% if not pk %}
                <div style="color: #bab3b3;">Crie um bolsista e vincule-o a um projeto para depois gerar relatórios</div>
            {% else %}
            
                <div>
                    <table class="table table-striped file-table">

                        <tr>

                            <td class="col-sm-2"><i class="fa fa-file-pdf-o file-icon" aria-hidden="true"></i></td>
                            <td class="col-sm-8"><a href="{% url 'relatorio-gerar-residencia' pk %}" class="open-file">Declaração de Residência</a></td>
                        </tr>

                        <tr>

                            <td class="col-sm-2"><i class="fa fa-file-pdf-o file-icon" aria-hidden="true"></i></td>
                            <td class="col-sm-8"><a href="{% url 'relatorio-gerar-ciencia-bolsista' pk %}" class="open-file">Declaração Ciência Bolsista</a></td>
                        </tr>


                        <tr>

                            <td class="col-sm-2"><i class="fa fa-file-pdf-o file-icon" aria-hidden="true"></i></td>
                            <td class="col-sm-8"><a href="{% url 'relatorio-gerar-sigilo' pk %}" class="open-file">Declaração Sigilo</a></td>
                        </tr>
                    </table>
                </div>

            {% endif %}





        </fieldset>

    </div>


    {% if pk %}
        <!-- Modal -->
        <div id="modal-file" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Juntar Documento</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'upload-arquivo-bolsista' pk %}" method="post" class="form" enctype="multipart/form-data">
                            {% csrf_token %}

                            {% bootstrap_form formf %}
                            <br>
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">
                                    {% bootstrap_icon "star" %} Salvar
                                </button>
                            {% endbuttons %}
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}

    {% if pk %}
        <!-- Modal -->
        <div id="modal-emprestimo" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Emprestimo de Equipamento</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'emprestimo-equipamento-bolsista' pk %}" method="post" class="form" enctype="multipart/form-data">
                            {% csrf_token %}

                            {% bootstrap_form forme %}
                            <br>
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">
                                    {% bootstrap_icon "star" %} Salvar
                                </button>
                            {% endbuttons %}
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}

{% endblock %}
