{% extends 'cadastro/basis.html' %}

{% block nav-options %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Administrador</a></li>
        <li><a href="#">Gestor</a></li>
        <li><a href="#">Bolsista</a></li>
    </ul>
{% endblock %}

{% block sidebar %}
    <table class="table table-bordered sidetable">
        <thead>
        <tr class="info">
            <td><b>Administração</b></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="{% url 'usuario' %}">Usuários</a></td>
        </tr>
        <tr>
            <td><a href="{% url 'funcao' %}">Funções</a></td>
        </tr>
        <tr>
            <td><a href="{% url 'cargo' %}">Cargos</a></td>
        </tr>
        <tr>
            <td><a href="{% url 'responsavel' %}">Responsáveis</a></td>
        </tr>
        <tr>
            <td><a href="{% url 'entidade' %}">Órgão/Instituição</a></td>
        </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
        <tr class="info">
            <td><b>Gestão de Projetos</b></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="{% url 'bolsista' %}">Bolsistas</a></td>
        </tr>
        <tr>
            <td><a href="" class="btn disabled">Plano de Pesquisa Individual</a></td>
        </tr>
        <tr>
            <td><a href="{% url 'projeto' %}">Projetos</a></td>
        </tr>
        <tr>
            <td><a href="" class="btn disabled">Relatórios</a></td>
        </tr>
        </tbody>
    </table>
{% endblock %}