{% extends 'cadastro/default.html' %}

{% load bootstrap3 %}

{% load static %}
{% load verbose %}
{% load getattr %}
{% load meta %}
{% load form_tools %}

{% block css %}

    <link href="{% static 'cadastro/general.css' %}" rel="stylesheet">

{% endblock %}

{% block js %}

  <script type="text/javascript">

        {% with request.resolver_match.url_name as url %}

            $(document).ready(function () {
                $('#modal-responsabilidade').modal({% if formresponsabilidade.errors or 'responsabilidade-entidade-editar' in url %}'show'{% else %}'hide'{% endif %});
            });
        {% endwith %}

  </script>

{% endblock %}

{% block content %}
    <div class="col-md-12">

        {% if formentidade.errors or formresponsabilidade.errors %}

            <div class="alert alert-danger">
              <strong><a data-toggle="collapse" href="#errors-form" role="button" aria-expanded="false" aria-controls="errors-form">Erros</a> no formulário!</strong> Verifique os campos e tente novamente
            </div>

            <div class="collapse multi-collapse alert alert-warning" id="errors-form">
              <div class="card card-body">
                {{ formentidade.errors }}
                {{ formresponsabilidade.errors }}
              </div>
            </div>

        {% endif %}

        <form class="form-horizontal" role="form" method="POST" action="{% if pkentidade %} {% url 'entidade-editar' pkentidade %} {% else %}{% url 'entidade-criar' %}{% endif %}">
                {% csrf_token %}

            <fieldset class="well the-fieldset">

                <legend class="the-legend">Dados</legend>
                
                <div class="form-group row">
                    <div class="{% if formentidade.nome.errors %}{{ 'has-error' }}{% endif %} {% if formentidade|is_required:formentidade.nome.name %} required {% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">{{ formentidade.nome.label }}:</label>
                        <div class="col-md-8">
                            {{ formentidade.nome }}
                            <div class="help-block">{{ formentidade.nome.errors }}</div>
                        </div>
                    </div>
                    <div class="{% if formentidade.ic_ativo.errors %}{{ 'has-error' }}{% endif %} {% if formentidade|is_required:formentidade.ic_ativo.name %} required {% endif %}">
                        <label for="inputKey" class="col-md-1 control-label">{{ formentidade.ic_ativo.label }}:</label>
                        <div class="col-md-1">
                            {{ formentidade.ic_ativo }}
                            <div class="help-block">{{ formentidade.ic_ativo.errors }}</div>
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="{% if formentidade.email.errors %}{{ 'has-error' }}{% endif %} {% if formentidade|is_required:formentidade.email.name %} required {% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">{{ formentidade.email.label }}:</label>
                        <div class="col-md-5">
                            {{ formentidade.email }}
                            <div class="help-block">{{ formentidade.email.errors }}</div>
                        </div>
                    </div>
                    <div class="{% if formentidade.cnpj.errors %}{{ 'has-error' }}{% endif %} {% if formentidade|is_required:formentidade.cnpj.name %} required {% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">{{ formentidade.cnpj.label }}:</label>
                        <div class="col-md-3">
                            {{ formentidade.cnpj }}
                            <div class="help-block">{{ formentidade.cnpj.errors }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="{% if formentidade.endereco.errors %}{{ 'has-error' }}{% endif %} {% if formentidade|is_required:formentidade.endereco.name %} required {% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">{{ formentidade.endereco.label }}:</label>
                        <div class="col-md-5">
                            {{ formentidade.endereco }}
                            <div class="help-block">{{ formentidade.endereco.errors }}</div>
                        </div>
                    </div>
                    <div class="{% if formentidade.cidade.errors %}{{ 'has-error' }}{% endif %} {% if formentidade|is_required:formentidade.cidade.name %} required {% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">{{ formentidade.cidade.label }}:</label>
                        <div class="col-md-3">
                            {{ formentidade.cidade }}
                            <div class="help-block">{{ formentidade.cidade.errors }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="{% if formentidade.cep.errors %}{{ 'has-error' }}{% endif %} {% if formentidade|is_required:formentidade.cep.name %} required {% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">{{ formentidade.cep.label }}:</label>
                        <div class="col-md-3">
                            {{ formentidade.cep }}
                            <div class="help-block">{{ formentidade.cep.errors }}</div>
                        </div>
                    </div>
                    <div class="{% if formentidade.uf.errors %}{{ 'has-error' }}{% endif %} {% if formentidade|is_required:formentidade.uf.name %} required {% endif %}">
                        <label for="inputKey" class="col-md-4 control-label">{{ formentidade.uf.label }}:</label>
                        <div class="col-md-3">
                            {{ formentidade.uf }}
                            <div class="help-block">{{ formentidade.uf.errors }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="{% if formentidade.telefone.errors %}{{ 'has-error' }}{% endif %} {% if formentidade|is_required:formentidade.telefone.name %} required {% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">{{ formentidade.telefone.label }}:</label>
                        <div class="col-md-3">
                            {{ formentidade.telefone }}
                            <div class="help-block">{{ formentidade.telefone.errors }}</div>
                        </div>
                    </div>
                    <div class="{% if formentidade.esfera_administrativa.errors %}{{ 'has-error' }}{% endif %} {% if formentidade|is_required:formentidade.esfera_administrativa.name %} required {% endif %}">
                        <label for="inputKey" class="col-md-4 control-label">{{ formentidade.esfera_administrativa.label }}:</label>
                        <div class="col-md-3">
                            {{ formentidade.esfera_administrativa }}
                            <div class="help-block">{{ formentidade.esfera_administrativa.errors }}</div>
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset class="well the-fieldset">

                <legend class="the-legend">Dados Bancários</legend>


                <div class="form-group row">
                    <div class="{% if formentidade.banco.errors %}{{ 'has-error' }}{% endif %} {% if formentidade|is_required:formentidade.banco.name %} required {% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">{{ formentidade.banco.label }}:</label>
                        <div class="col-md-2">
                            {{ formentidade.banco }}
                            <div class="help-block">{{ formentidade.banco.errors }}</div>
                        </div>
                    </div>
                    <div class="{% if formentidade.agencia.errors %}{{ 'has-error' }}{% endif %} {% if formentidade|is_required:formentidade.agencia.name %} required {% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">{{ formentidade.agencia.label }}:</label>
                        <div class="col-md-2">
                            {{ formentidade.agencia }}
                            <div class="help-block">{{ formentidade.agencia.errors }}</div>
                        </div>
                    </div>

                    <div class="{% if formentidade.conta.errors %}{{ 'has-error' }}{% endif %} {% if formentidade|is_required:formentidade.conta.name %} required {% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">{{ formentidade.conta.label }}:</label>
                        <div class="col-md-2">
                            {{ formentidade.conta }}
                            <div class="help-block">{{ formentidade.conta.errors }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="{% if formentidade.tipo_conta.errors %}{{ 'has-error' }}{% endif %} {% if formentidade|is_required:formentidade.tipo_conta.name %} required {% endif %}">
                        <label for="inputKey" class="col-md-2 control-label">{{ formentidade.tipo_conta.label }}:</label>
                        <div class="col-md-2">
                            {{ formentidade.tipo_conta }}
                            <div class="help-block">{{ formentidade.tipo_conta.errors }}</div>
                        </div>
                    </div>
                    <div class="{% if formentidade.praca_pagamento.errors %}{{ 'has-error' }}{% endif %} {% if formentidade|is_required:formentidade.praca_pagamento.name %} required {% endif %}">
                        <label for="inputKey" class="col-md-6 control-label">{{ formentidade.praca_pagamento.label }}:</label>
                        <div class="col-md-2">
                            {{ formentidade.praca_pagamento }}
                            <div class="help-block">{{ formentidade.praca_pagamento.errors }}</div>
                        </div>
                    </div>
                </div>

            </fieldset>

            <div id="form-buttons">
                <button class="btn btn-info">Salvar</button>
                <a href="{% url 'entidade' %}" class="btn btn-default">Voltar</a>
            </div>

        </form>

        <br/>

        <fieldset class="well the-fieldset">

            <legend class="the-legend">Responsáveis</legend>

            <button class="btn btn-info" data-toggle="modal" data-target="#modal-responsabilidade" {% if pkentidade %}{% else %} disabled {% endif %}><i class="fa fa-plus" aria-hidden="true"></i></button>
                                
            <br/><br/>

            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">

                <thead>
                <tr>
                    {% for item in formresponsabilidade.preview %}
                        <th>{% verbose formresponsabilidade.instance item %}</th>
                    {% endfor %}
                    <th>Ações</th>
                </tr>
                </thead>

                <tbody>
                {% for item in setresponsabilidade %}
                    <tr class="odd gradeX">
                        {% for field in formresponsabilidade.preview %}
                            {% with item|getattr:field as value %}
                                <td>
                                    {% if value|is_bool %}
                                        <input type="checkbox" {% if value %} checked {% endif %} disabled>
                                    {% else %}
                                        {{ value }}
                                    {% endif %}
                                </td>
                            {% endwith %}
                        {% endfor %}
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                    Editar
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'responsabilidade-entidade-editar' item.pk %}">Modificar</a></li>
                                    <li><a href="{% url 'responsabilidade-entidade-remover' item.pk %}" onclick="return confirm('Tem certeza? O registro será apagado permanentemente')">Excluir</a></li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>


            </table>          

        </fieldset>


        {% if pkentidade %}
            <div id="modal-responsabilidade" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    {% with request.resolver_match.url_name as url %}

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{% if 'responsabilidade-entidade-editar' in url %}Modificar{% else %}
                                Criar{% endif %} {% class_verbose formresponsabilidade.instance %}</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{% if pkresponsabilidade %}{% url 'responsabilidade-entidade-editar' pkresponsabilidade %} {% else %} {% url 'responsabilidade-entidade-criar' pkentidade %} {% endif %}" method="post" class="form">

                                {% csrf_token %}

                                {{ formresponsabilidade.entidade }}

                                <div class="form-group row required {% if formresponsabilidade.responsavel.errors %}{{ 'has-error' }}{% endif %}">
                                    <label for="inputValue" class="col-md-2 control-label">Responsável:</label>
                                    <div class="col-md-10">
                                        {{ formresponsabilidade.responsavel }}
                                        <div class="help-block">{{ formresponsabilidade.responsavel.errors }}</div>
                                    </div>
                                </div>

                                <div class="form-group row required {% if formresponsabilidade.cargo.errors %}{{ 'has-error' }}{% endif %}">
                                    <label for="inputValue" class="col-md-2 control-label">Cargo:</label>
                                    <div class="col-md-10">
                                        {{ formresponsabilidade.cargo }}
                                        <div class="help-block">{{ formresponsabilidade.cargo.errors }}</div>
                                    </div>
                                </div>

                                <div class="form-group row required {% if formresponsabilidade.ic_ativo.errors %}{{ 'has-error' }}{% endif %}">
                                    <label for="inputValue" class="col-md-2 control-label">Ativo:</label>
                                    <div class="col-md-1">
                                        {{ formresponsabilidade.ic_ativo }}
                                        <div class="help-block">{{ formresponsabilidade.ic_ativo.errors }}</div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">
                                    {% bootstrap_icon "star" %} Salvar
                                </button>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                    {% endwith %}
                </div>
            </div>
        {% endif %}


{% endblock %}
