{% extends 'cadastro/default.html' %}

{% load bootstrap3 %}

{% load static %}

{% block css %}

	<link rel="stylesheet" type="text/css" href="{% static 'cadastro/projeto-style.css' %}">

{% endblock %}

{% block js %}
	
	<script type="text/javascript" src="{% static 'cadastro/projeto.js' %}"></script>

{% endblock %}

{% block content %}

		<div class="tab-content">


			<div class="panel with-nav-tabs panel-success">
                <div class="panel-heading">
                        <ul class="nav nav-tabs nav-projeto">
                            <li class="dropdown active">
                                <a href="#" data-toggle="dropdown">Detalhes<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="active"><a href="#descricao" data-toggle="tab" class="detalhes">Descrição</a></li>
                                    <li><a href="#dadosinteressados" data-toggle="tab" class="detalhes">Dados dos Interessados</a></li>
                                    <li><a href="#outros" data-toggle="tab" class="detalhes">Outros</a></li>
                                </ul>
                            </li>
                            <li><a href="#adbolsistas" data-toggle="tab">Adicionar bolsista</a></li>
                            <li><a href="#vatividade" data-toggle="tab">Vincular atividade</a></li>
                            <li><a href="#cronograma" data-toggle="tab">Cronograma</a></li>
                            <li><a href="#anexos" data-toggle="tab">Anexos</a></li>
                            <li><a href="#resumo" data-toggle="tab">Resumo</a></li>
                            
                        </ul>
                </div>

				<form class="form" id="form-detalhes" role="form" method="POST" action="{% if pk %} {% url 'projeto-editar' pk %} {% else %}{% url 'projeto-criar' %}{% endif %}">

					{% csrf_token %}

	                <div class="panel-body">
	                    <div class="tab-content">
	                        <div class="tab-pane fade in active" id="descricao">
	                        	<div class="form-group row required">
			                        <label for="inputKey" class="col-md-2 control-label">Nome do Projeto:</label>
			                        <div class="col-md-10">
			                            {{ form.nome }}
			                            <div class="help-block">{{ form.nome.errors }}</div>
			                        </div>
			                    </div>

			                    <div class="form-group row required">
			                        <label for="inputKey" class="col-md-2 control-label">Sigla:</label>
			                        <div class="col-md-10">
			                            {{ form.sigla }}
			                            <div class="help-block">{{ form.sigla.errors }}</div>
			                        </div>
			                    </div>

	                        </div>
	                        <div class="tab-pane fade" id="dadosinteressados">
	                        	
		                        <fieldset class="well the-fieldset">

				                    <legend class="the-legend">Proponente</legend>

				                    <div class="form-group row required  {% if form.entidade_proponente.errors %}{{ "has-error" }}{% endif %}">
				                        <label for="inputValue" class="col-md-2 control-label">Instituição:</label>
				                        <div class="col-sm-10">
				                            {{ form.entidade_proponente }}
				                            <div class="help-block">{{ form.entidade_proponente.errors }}</div>
				                        </div>
				                    </div>
				                    

				                    <div class="form-group row required {% if form.responsavel_proponente.errors %}{{ "has-error" }}{% endif %}">
				                        <label for="inputValue" class="col-md-2 control-label">Responsável:</label>
				                        <div class="col-md-10">
				                            {{ form.responsavel_proponente }}
				                            <div class="help-block">{{ form.responsavel_proponente.errors }}</div>
				                        </div>
				                    </div>

				                    <div class="form-group row required {% if form.responsavel_tecnico_proponente.errors %}{{ "has-error" }}{% endif %}">
				                        <label for="inputValue" class="col-md-2 control-label">Responsável Técnico:</label>
				                        <div class="col-md-10">
				                            {{ form.responsavel_tecnico_proponente }}
				                            <div class="help-block">{{ form.responsavel_tecnico_proponente.errors }}</div>
				                        </div>
				                    </div>




				                </fieldset>

				                <fieldset class="well the-fieldset">

				                    <legend class="the-legend">Concedente</legend>

				                    <div class="form-group row required  {% if form.entidade_concedente.errors %}{{ "has-error" }}{% endif %}">
				                        <label for="inputValue" class="col-md-2 control-label">Instituição:</label>
				                        <div class="col-sm-10">
				                            {{ form.entidade_concedente}}
				                            <div class="help-block">{{ form.entidade_concedente.errors }}</div>
				                        </div>
				                    </div>
				                    

				                    <div class="form-group row required {% if form.responsavel_concedente.errors %}{{ "has-error" }}{% endif %}">
				                        <label for="inputValue" class="col-md-2 control-label">Responsável:</label>
				                        <div class="col-md-10">
				                            {{ form.responsavel_concedente }}
				                            <div class="help-block">{{ form.responsavel_concedente.errors }}</div>
				                        </div>
				                    </div>

				                    <div class="form-group row required {% if form.responsavel_tecnico_concedente.errors %}{{ "has-error" }}{% endif %}">
				                        <label for="inputValue" class="col-md-2 control-label">Responsável Técnico:</label>
				                        <div class="col-md-10">
				                            {{ form.responsavel_tecnico_concedente }}
				                            <div class="help-block">{{ form.responsavel_tecnico_concedente.errors }}</div>
				                        </div>
				                    </div>

				                </fieldset>


	                        </div>

	                        <div class="tab-pane fade" id="outros">


			                    <div class="form-group row required {% if form.metodologia.errors %}{{ "has-error" }}{% endif %}">
			                        <label for="inputValue" class="col-md-2 control-label">Metodologia:</label>
			                        <div class="col-md-10">
			                            {{ form.metodologia }}
			                            <div class="help-block">{{ form.metodologia.errors }}</div>
			                        </div>
			                    </div>

			                    <div class="form-group row required {% if form.gestao_transferencia_tecnologia.errors %}{{ "has-error" }}{% endif %}">
			                        <label for="inputValue" class="col-md-2 control-label">Gestão de Projeto e Transferência de Tecnologia:</label>
			                        <div class="col-md-10">
			                            {{ form.gestao_transferencia_tecnologia }}
			                            <div class="help-block">{{ form.gestao_transferencia_tecnologia.errors }}</div>
			                        </div>
			                    </div>


	                        </div>
	              			
						</form>

                        <div class="tab-pane fade" id="adbolsistas">
	                    	<fieldset class="well the-fieldset">

	                    		<legend class="the-legend">Bolsista</legend>

				                <div class="form-group row required">

				                    <label for="inputValue" class="col-md-2 control-label">Nome Completo:</label>
				                    <div class="col-md-10">
				                        {{ form.fk_bolsita}}
				                        <div class="help-block">{{ form.fk_bolsita.errors}}</div>
				                    </div>
				                </div>

				                <div class="form-group row required">
				                    <label for="inputValue" class="col-md-2 control-label">Função:</label>
				                    <div class="col-md-10">
				                        {{ form.fk_funcao}}
				                        <div class="help-block">{{ form.fk_funcao.errors}}</div>
				                    </div>
				                </div>

				                <div class="form-group row">
				                    <label for="inputValue" class="col-md-2 control-label">Ativo:</label>
				                    <div class="col-md-1">
				                        <input type="checkbox" class="form-control" id="inputValue" placeholder="">
				                    <br>
				                    </div>
				                </div>
				            </fieldset>

			                <fieldset class="well the-fieldset">
			                    <legend class="the-legend">Especificação da Bolsa</legend>

			                    <div class="form-group row required">
			                        <label for="inputValue" class="col-md-2 control-label">Categoria da Bolsa:</label>
			                        <div class="col-md-4">
			                            <select class="form-control" id="sel1">
			                                <option selected="selected" disabled>Selecione uma opção</option>
			                                <option>Bolsa de Aux. Financeiro a Estudante</option>
			                                <option>Bolsa de Aux. a Pesquisador</option>
			                            </select>
			                        <br>
			                        </div>
			                        <label for="inputKey" class="col-md-2 control-label">Período Total Prevísto:</label>
			                        <div class="col-md-4">
			                            <input type="text" class="form-control" id="inputKey" placeholder="">
			                        </div>
			                    </div>

			                    <div class="form-group row required">
			                        <label for="inputValue" class="col-md-2 control-label">Modalidade da Bolsa:</label>
			                        <div class="col-md-4">
			                            <select class="form-control" id="sel1">
			                                <option selected="selected" disabled>Selecione uma opção</option>
			                                <option>Mestrado</option>
			                                <option>Lista Item 1 e/ou Iniciação Científica</option>
			                                <option>Nível Médio</option>
			                                <option>Pesquisador Sênior</option>
			                                <option>Pesquisa Acadêmica</option>
			                                <option>Pesquisa, Desenvolvimento e Inovação PDI</option>
			                                <option>Apoio Operacional à Pesquisa</option>
			                            </select>
			                        <br>
			                        </div>
			                        <label for="inputKey" class="col-md-2 control-label">Número de horas semanais:</label>
			                        <div class="col-md-4">
			                            <input type="text" class="form-control" id="inputKey" placeholder="">
			                        <br>
			                        </div>
			                    </div>

			                    <div class="form-group row required">
			                        <label for="inputValue" class="col-md-2 control-label">Nível:</label>
			                        <div class="col-md-4">
			                            <select class="form-control" id="sel1">
			                                <option selected="selected" disabled>Selecione uma opção</option>
			                                <option>A</option>
			                                <option>B</option>
			                                <option>C</option>
			                                <option>D</option>
			                            </select>
			                        <br>
			                        </div>
			                        <label for="inputKey" class="col-md-2 control-label">Valor Mensal:</label>
			                        <div class="col-md-4">
			                            <input type="text" class="form-control" id="inputKey" placeholder="">
			                        <br>
			                        </div>
			                    </div>

			                    <div class="form-group row required">
			                        <label for="inputValue" class="col-md-2 control-label">Vigência Prevista:</label>
			                        <div class="col-md-4">
			                            <fieldset class="well the-fieldset">
			                                <label for="inputKey" class="col-md-3 control-label">Início:</label>
			                                <div class="col-md-9">
			                                    <input type="text" class="form-control" id="inputKey" placeholder="">
			                                <br>
			                                </div>
			                                <label for="inputKey" class="col-md-3 control-label">Término:</label>
			                                <div class="col-md-9">
			                                    <input type="text" class="form-control" id="inputKey" placeholder="">
			                                </div>
			                            </fieldset>
			                        </div>
			                        <label for="inputKey" class="col-md-2 control-label">Valor Total:</label>
			                        <div class="col-md-4">
			                            <input type="text" class="form-control" id="inputKey" placeholder="">
			                        <br>
			                        </div>
			                    </div>

			                </fieldset>

			                <button type="submit" class="btn btn-info">Adicionar</button>
			                <button type="submit" class="btn btn-default">Cancelar</button>

                        </div>
                        <div class="tab-pane fade" id="vatividade">

                        	<fieldset class="well the-fieldset">

			                    <legend class="the-legend">Vincular Atividade</legend>


			                </fieldset>

                        </div>
                        <div class="tab-pane fade" id="cronograma">
	                        <fieldset class="well the-fieldset">

			                    <legend class="the-legend">Cadastro de Meta</legend>

			                    <div class="form-group row required">
			                        <label for="inputKey" class="col-md-2 control-label">Título da meta:</label>
			                        <div class="col-md-10">
			                            <input type="text" class="form-control" id="inputKey" placeholder="">
			                        <br>
			                        </div>
			                    </div>

			                    <div class="form-group row required">
			                        <label for="inputKey" class="col-md-2 control-label">Descrição:</label>
			                        <div class="col-md-10">
			                            <textarea type="text" class="form-control" id="inputKey" placeholder=""></textarea>
			                        </div>
			                    </div>

			                    <div class="form-group row">
			                        <label for="inputValue" class="col-md-2 control-label">Ativo:</label>
			                        <div class="col-md-1">
			                            <input type="checkbox" class="form-control" id="inputValue" placeholder="">
			                        </div>
			                    </div>

			                </fieldset>

			                <fieldset class="well the-fieldset">

			                    <legend class="the-legend">Atividade Vinculada</legend>


			                </fieldset>

                        </div>

                        <div class="tab-pane fade" id="anexos">
                        	
                        	<fieldset class="well the-fieldset">

			                    <legend class="the-legend">Anexos</legend>


			                </fieldset>

                        </div>

                        <div class="tab-pane fade" id="resumo">

                        	<fieldset class="well the-fieldset">

			                    <legend class="the-legend">Resumo do Projeto</legend>


			                </fieldset>

                        </div>
                    </div>
                </div>
            </div>

		</div>

		<div id="form-buttons">
			<button class="btn btn-info" id="confirm-button">Salvar</button>
			<a href="{% url 'projeto' %}" class="btn btn-default">Voltar</a>
		</div>
			

{% endblock %}