{% extends 'gestao/common.html' %}

{% block content %}
  <table class="table">
  <thead class="thead-inverse">
  <tr>
    <th>#</th>
    <th>E-Mail</th>
    <th>Grupo</th>
    <th>Bolsista</th>
    <th>Ativo</th>
  </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <th scope="row">1</th>
        <td>{{user.Email}}</td>
        <td>{{user.Group}}</td>

        {% if user.Bolsista %}
          <td><input type="checkbox" name="Check 1" checked></td>
        {% else %}
          <td><input type="checkbox" name="Check 1" value="checked"></td>
        {% endif %}

        {% if user.Ativo %}
          <td><input type="checkbox" name="Check 2" checked></td>
        {% else %}
          <td><input type="checkbox" name="Check 2" value="checked"></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}
