{% extends 'usuario/base.html' %}

{% load static %}

{% block base-css %}
    <link href="{% static 'usuario/resources/css/jquery-ui-themes.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'usuario/resources/css/axure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'usuario/data/styles.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block base-js %}
    <script src="{% static 'usuario/resources/scripts/jquery-1.7.1.min.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/jquery-ui-1.8.10.custom.min.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/axQuery.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/globals.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axutils.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/annotation.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/axQuery.std.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/doc.js' %}"></script>
    <script src="{% static 'usuario/data/document.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/messagecenter.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/events.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/recording.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/action.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/expr.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/geometry.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/flyout.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/ie.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/model.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/repeater.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/sto.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/utils.temp.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/variables.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/drag.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/move.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/visibility.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/style.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/adaptive.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/tree.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/init.temp.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/legacy.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/viewer.js' %}"></script>
    <script src="{% static 'usuario/resources/scripts/axure/math.js' %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>

{% endblock %}

{% block sidebar %}

     <!-- Unnamed (Menu) -->
      <div id="u13928" class="ax_default">
        <img id="u13928_menu" class="img " src="images/gestor/u7812_menu.png" alt="u13928_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u13929" class="ax_default table">

          <!-- Unnamed (Menu Item) -->
          <div id="u13930" class="ax_default table_cell">
            <img id="u13930_img" class="img " src="images/administrador/u43.png"/>
            <!-- Unnamed () -->
            <div id="u13931" class="text" style="visibility: visible;">
              <p><span style="font-family:'Verdana Negrito', 'Verdana Normal', 'Verdana';">Bolsista / Pesquisador</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u13932" class="ax_default table_cell">
            <img id="u13932_img" class="img " src="images/administrador/u45.png"/>
            <!-- Unnamed () -->
            <div id="u13933" class="text" style="visibility: visible;">
              <p><span style="font-family:'Verdana Normal', 'Verdana';">Atualizar Dados</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u13934" class="ax_default table_cell">
            <img id="u13934_img" class="img " src="images/gestor/u7818.png"/>
            <!-- Unnamed () -->
            <div id="u13935" class="text" style="visibility: visible;">
              <p><span style="font-family:'Verdana Normal', 'Verdana';">Visualizar Histórico</span></p>
            </div>
          </div>
        </div>
      </div>

{% endblock %}

{% block nav %}

    <!-- Unnamed (Group) -->
      <div id="u13922" class="ax_default">

        <!-- Unnamed (Rectangle) -->
        <div id="u13923" class="ax_default shape">
          <img id="u13923_img" class="img " src="images/exemplos/u2.png"/>
          <!-- Unnamed () -->
          <div id="u13924" class="text" style="visibility: visible;">
            <p><span style="font-family:'Verdana Negrito', 'Verdana Normal', 'Verdana';">SISBP - Sistema de Controle de Bolsista e Pesquisador</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u13925" class="ax_default shape">
          <img id="u13925_img" class="img " src="images/exemplos/u4.png"/>
          <!-- Unnamed () -->
          <div id="u13926" class="text" style="display: none; visibility: hidden">
            <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
          </div>
        </div>
      </div>

{% endblock %}

{% block breadcrumb %}

    <div id="u544" class="ax_default">

        <!-- Unnamed (Group) -->
        <div id="u545" class="ax_default">

            <!-- Unnamed (Rectangle) -->
            <div id="u546" class="ax_default shape">
                <img id="u546_img" class="img " src="{% static 'usuario/images/exemplos/u4.png' %}"/>
                <!-- Unnamed () -->
                <div id="u547" class="text" style="visibility: visible;">
                    <p>
                        <span style="font-family:'Verdana Normal', 'Verdana';color:#0000FF;">&nbsp;&nbsp; Página Inicial</span>
                        <span style="font-family:'Verdana Normal', 'Verdana';"> / </span>
                        <span style="font-family:'Verdana Normal', 'Verdana';color:#0000FF;">Administrador</span>
                        <span style="font-family:'Verdana Normal', 'Verdana';color:#000000;"> / </span>
                        <span style="font-family:'Verdana Normal', 'Verdana';color:#0000FF;">Manter Função / Cargo</span>
                    </p>
                </div>
            </div>

            <!-- Unnamed (Paragraph) -->
            <div id="u548" class="ax_default">
                <img id="u548_img" class="img " src="{% static 'usuario/images/administrador/u68.png' %}"/>
                <!-- Unnamed () -->
                <div id="u549" class="text" style="visibility: visible;">
                    <p><span style="font-family:'Verdana Normal', 'Verdana';">X Sair</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Hot Spot) -->
        <div id="u550" class="ax_default">
        </div>
    </div>

{% endblock %}

{% block title %}

    <!-- Unnamed (Rectangle) -->
      <div id="u505" class="ax_default flow_shape">
        <img id="u505_img" class="img " src="{% static 'usuario/images/usuario/u302.png' %}"/>
        <!-- Unnamed () -->
        <div id="u506" class="text" style="visibility: visible;">
          <p><span style="font-family:'Verdana Negrito Itálico', 'Verdana Normal', 'Verdana';">Manter Função / Cargo</span></p>
        </div>
      </div>

{% endblock %}


