table { display : table}
tr { display : table-row}
thead { display : table-header-group }
tbody { display : table-row-group}
tfoot { display : table-footer-group }
col { display : table-column}
colgroup { display : table-column-group }
td, th { display :  table-cell }
caption { display : table-caption }

table.schedule {
	border-collapse: collapse;
	width: 100%;
}

table.schedule th, td {
	padding: 0;
	width: 1px;
}

table.schedule td.schedule-label {
	border: 1px solid black;
	width: 35%;
}

table.schedule tr {
	border: 1px solid black;
	font-size: 10px;
}

table.schedule td.schedule-intime {
	background: gray
}

table.schedule td.schedule-intime:hover {
	background: red
}

table.schedule td.schedule-outtime {
	background: white
}
