table.schedule {
	border-collapse: collapse;
	width: 100%;
}

table.schedule th, td {
    padding: 0;
    width: 1px;
}

table.schedule td.schedule-label {
	border: 1px solid black;
	width: 35%;
}

table.schedule tr {
    border: 1px solid black;
    font-size: 10px;
}

table.schedule tr:hover {
    background-color: #d9edf7;
}

table.schedule td.schedule-intime {
	background: gray
}

table.schedule td.schedule-outtime {
	background: white
}
