{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>SBPL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'templates/styles/basis-template.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'templates/bootoast/bootoast.min.css' %}">

    {% block css %}

    {% endblock %}

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SBPL</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">

                {% block nav-options %}

                {% endblock %}

                <ul class="nav navbar-nav navbar-right">

                    {% block side-widgets %}

                    {% endblock %}

                </ul>
            </div>
        </div>
    </nav>

{% block body %}


{% endblock %}

<footer class="container-fluid text-center">
    <p>2019</p>
    <img id="logo" src="{% static 'templates/img/latitude-2d.png' %}">
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'templates/bootoast/bootoast.min.js' %}"></script>
<script type="text/javascript">
    
    {% if messages %}
        {% for message in messages %}

            bootoast.toast({
                message: '{{ message }}',
                type: {% if message.tags %} '{{ message.tags }}' {% else %} 'info' {% endif %} ,
                position: 'top',
                icon: null,
                timeout: 3,
                animationDuration: 300,
                dismissible: true
            });

        {% endfor %}
    {% endif %}

    

</script>

{% block js %}
{% endblock %}
<script src="{% static 'templates/jquery.mask.min.js' %}"></script>
<script src="{% static 'templates/script.js' %}" type="text/javascript"></script>

</body>
</html>
