{% extends 'administracao/default.html' %}

{% load static %}

{% block content %}

<!-- painelResultadoCargo (Dynamic Panel) -->
      <div id="u382" class="ax_default" data-label="painelResultadoCargo">
        <div id="u382_state0" class="panel_state" data-label="State1">
          <div id="u382_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u383" class="ax_default box_1">
              <img id="u383_img" class="img " src="{% static 'administracao/images/usuario/u192.png' %}"/>
              <!-- Unnamed () -->
              <div id="u384" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Negrito', 'Verdana Normal', 'Verdana';">NOME</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u385" class="ax_default box_1">
              <img id="u385_img" class="img " src="{% static 'administracao/images/administrador/u79.png' %}"/>
              <!-- Unnamed () -->
              <div id="u386" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Negrito', 'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Item1 (Rectangle) -->
            <div id="u387" class="ax_default box_1" data-label="Item1">
              <img id="u387_img" class="img " src="{% static 'administracao/images/usuario/u198.png' %}"/>
              <!-- Unnamed () -->
              <div id="u388" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Chefe Imediato</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u389" class="ax_default box_1">
              <img id="u389_img" class="img " src="{% static 'administracao/images/administrador/u87.png' %}"/>
              <!-- Unnamed () -->
              <div id="u390" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u391" class="ax_default icon">
              <img id="u391_img" class="img " src="{% static 'administracao/images/usuario/u204.png' %}"/>
              <!-- Unnamed () -->
              <div id="u392" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Hot Spot) -->
            <div id="u393" class="ax_default">
            </div>

            <!-- Item2 (Rectangle) -->
            <div id="u394" class="ax_default box_1" data-label="Item2">
              <img id="u394_img" class="img " src="{% static 'administracao/images/usuario/u198.png' %}"/>
              <!-- Unnamed () -->
              <div id="u395" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Coordenador do Projeto</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u396" class="ax_default box_1">
              <img id="u396_img" class="img " src="{% static 'administracao/images/administrador/u87.png' %}"/>
              <!-- Unnamed () -->
              <div id="u397" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u398" class="ax_default icon">
              <img id="u398_img" class="img " src="{% static 'administracao/images/usuario/u204.png' %}"/>
              <!-- Unnamed () -->
              <div id="u399" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Item1 (Rectangle) -->
            <div id="u400" class="ax_default box_1" data-label="Item1">
              <img id="u400_img" class="img " src="{% static 'administracao/images/usuario/u198.png' %}"/>
              <!-- Unnamed () -->
              <div id="u401" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Diretor(a) do Centro de Apoio ao Desenvolvimento</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u402" class="ax_default box_1">
              <img id="u402_img" class="img " src="{% static 'administracao/images/administrador/u87.png' %}"/>
              <!-- Unnamed () -->
              <div id="u403" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u404" class="ax_default icon">
              <img id="u404_img" class="img " src="{% static 'administracao/images/usuario/u204.png' %}"/>
              <!-- Unnamed () -->
              <div id="u405" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Item2 (Rectangle) -->
            <div id="u406" class="ax_default box_1" data-label="Item2">
              <img id="u406_img" class="img " src="{% static 'administracao/images/usuario/u198.png' %}"/>
              <!-- Unnamed () -->
              <div id="u407" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Líder do Projeto</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u408" class="ax_default box_1">
              <img id="u408_img" class="img " src="{% static 'administracao/images/administrador/u87.png' %}"/>
              <!-- Unnamed () -->
              <div id="u409" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u410" class="ax_default icon">
              <img id="u410_img" class="img " src="{% static 'administracao/images/usuario/u204.png' %}"/>
              <!-- Unnamed () -->
              <div id="u411" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Item1 (Rectangle) -->
            <div id="u412" class="ax_default box_1" data-label="Item1">
              <img id="u412_img" class="img " src="{% static 'administracao/images/usuario/u198.png' %}"/>
              <!-- Unnamed () -->
              <div id="u413" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Ordenador(a) de Despesa</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u414" class="ax_default box_1">
              <img id="u414_img" class="img " src="{% static 'administracao/images/administrador/u87.png' %}"/>
              <!-- Unnamed () -->
              <div id="u415" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u416" class="ax_default icon">
              <img id="u416_img" class="img " src="{% static 'administracao/images/usuario/u204.png' %}"/>
              <!-- Unnamed () -->
              <div id="u417" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Item2 (Rectangle) -->
            <div id="u418" class="ax_default box_1" data-label="Item2">
              <img id="u418_img" class="img " src="{% static 'administracao/images/usuario/u198.png' %}"/>
              <!-- Unnamed () -->
              <div id="u419" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Pesquisador(a)</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u420" class="ax_default box_1">
              <img id="u420_img" class="img " src="{% static 'administracao/images/administrador/u87.png' %}"/>
              <!-- Unnamed () -->
              <div id="u421" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u422" class="ax_default icon">
              <img id="u422_img" class="img " src="{% static 'administracao/images/usuario/u204.png' %}"/>
              <!-- Unnamed () -->
              <div id="u423" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Item2 (Rectangle) -->
            <div id="u424" class="ax_default box_1" data-label="Item2">
              <img id="u424_img" class="img " src="{% static 'administracao/images/usuario/u198.png' %}"/>
              <!-- Unnamed () -->
              <div id="u425" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Responsável pelo Gerenciamento do Projeto / CDT</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u426" class="ax_default box_1">
              <img id="u426_img" class="img " src="{% static 'administracao/images/administrador/u87.png' %}"/>
              <!-- Unnamed () -->
              <div id="u427" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u428" class="ax_default icon">
              <img id="u428_img" class="img " src="{% static 'administracao/images/usuario/u204.png' %}"/>
              <!-- Unnamed () -->
              <div id="u429" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Item2 (Rectangle) -->
            <div id="u430" class="ax_default box_1" data-label="Item2">
              <img id="u430_img" class="img " src="{% static 'administracao/images/usuario/u198.png' %}"/>
              <!-- Unnamed () -->
              <div id="u431" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Responsável Técnico do Projeto / UNB</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u432" class="ax_default box_1">
              <img id="u432_img" class="img " src="{% static 'administracao/images/administrador/u87.png' %}"/>
              <!-- Unnamed () -->
              <div id="u433" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u434" class="ax_default icon">
              <img id="u434_img" class="img " src="{% static 'administracao/images/usuario/u204.png' %}"/>
              <!-- Unnamed () -->
              <div id="u435" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Item2 (Rectangle) -->
            <div id="u436" class="ax_default box_1" data-label="Item2">
              <img id="u436_img" class="img " src="{% static 'administracao/images/usuario/u198.png' %}"/>
              <!-- Unnamed () -->
              <div id="u437" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Subdefensor(a) Público-Geral Federal</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u438" class="ax_default box_1">
              <img id="u438_img" class="img " src="{% static 'administracao/images/administrador/u87.png' %}"/>
              <!-- Unnamed () -->
              <div id="u439" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u440" class="ax_default icon">
              <img id="u440_img" class="img " src="{% static 'administracao/images/usuario/u204.png' %}"/>
              <!-- Unnamed () -->
              <div id="u441" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Item2 (Rectangle) -->
            <div id="u442" class="ax_default box_1" data-label="Item2">
              <img id="u442_img" class="img " src="{% static 'administracao/images/usuario/u198.png' %}"/>
              <!-- Unnamed () -->
              <div id="u443" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Secretário(a) da STI / DPU</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u444" class="ax_default box_1">
              <img id="u444_img" class="img " src="{% static 'administracao/images/administrador/u87.png' %}"/>
              <!-- Unnamed () -->
              <div id="u445" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u446" class="ax_default icon">
              <img id="u446_img" class="img " src="{% static 'administracao/images/usuario/u204.png' %}"/>
              <!-- Unnamed () -->
              <div id="u447" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u448" class="ax_default box_1">
              <img id="u448_img" class="img " src="{% static 'administracao/images/cargo/u448.png' %}"/>
              <!-- Unnamed () -->
              <div id="u449" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Negrito', 'Verdana Normal', 'Verdana';">FUNÇÃO / CARGO</span></p>
              </div>
            </div>

            <!-- Item1 (Rectangle) -->
            <div id="u450" class="ax_default box_1" data-label="Item1">
              <img id="u450_img" class="img " src="{% static 'administracao/images/cargo/item1_u450.png' %}"/>
              <!-- Unnamed () -->
              <div id="u451" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Cargo</span></p>
              </div>
            </div>

            <!-- Item2 (Rectangle) -->
            <div id="u452" class="ax_default box_1" data-label="Item2">
              <img id="u452_img" class="img " src="{% static 'administracao/images/cargo/item1_u450.png' %}"/>
              <!-- Unnamed () -->
              <div id="u453" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Função</span></p>
              </div>
            </div>

            <!-- Item1 (Rectangle) -->
            <div id="u454" class="ax_default box_1" data-label="Item1">
              <img id="u454_img" class="img " src="{% static 'administracao/images/cargo/item1_u450.png' %}"/>
              <!-- Unnamed () -->
              <div id="u455" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Cargo</span></p>
              </div>
            </div>

            <!-- Item2 (Rectangle) -->
            <div id="u456" class="ax_default box_1" data-label="Item2">
              <img id="u456_img" class="img " src="{% static 'administracao/images/cargo/item1_u450.png' %}"/>
              <!-- Unnamed () -->
              <div id="u457" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Função</span></p>
              </div>
            </div>

            <!-- Item1 (Rectangle) -->
            <div id="u458" class="ax_default box_1" data-label="Item1">
              <img id="u458_img" class="img " src="{% static 'administracao/images/cargo/item1_u450.png' %}"/>
              <!-- Unnamed () -->
              <div id="u459" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Cargo</span></p>
              </div>
            </div>

            <!-- Item2 (Rectangle) -->
            <div id="u460" class="ax_default box_1" data-label="Item2">
              <img id="u460_img" class="img " src="{% static 'administracao/images/cargo/item1_u450.png' %}"/>
              <!-- Unnamed () -->
              <div id="u461" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Função</span></p>
              </div>
            </div>

            <!-- Item2 (Rectangle) -->
            <div id="u462" class="ax_default box_1" data-label="Item2">
              <img id="u462_img" class="img " src="{% static 'administracao/images/cargo/item1_u450.png' %}"/>
              <!-- Unnamed () -->
              <div id="u463" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Cargo</span></p>
              </div>
            </div>

            <!-- Item2 (Rectangle) -->
            <div id="u464" class="ax_default box_1" data-label="Item2">
              <img id="u464_img" class="img " src="{% static 'administracao/images/cargo/item1_u450.png' %}"/>
              <!-- Unnamed () -->
              <div id="u465" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Cargo</span></p>
              </div>
            </div>

            <!-- Item2 (Rectangle) -->
            <div id="u466" class="ax_default box_1" data-label="Item2">
              <img id="u466_img" class="img " src="{% static 'administracao/images/cargo/item1_u450.png' %}"/>
              <!-- Unnamed () -->
              <div id="u467" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Cargo</span></p>
              </div>
            </div>

            <!-- Item2 (Rectangle) -->
            <div id="u468" class="ax_default box_1" data-label="Item2">
              <img id="u468_img" class="img " src="{% static 'administracao/images/cargo/item1_u450.png' %}"/>
              <!-- Unnamed () -->
              <div id="u469" class="text" style="visibility: visible;">
                <p><span style="font-family:'Verdana Normal', 'Verdana';">Cargo</span></p>
              </div>
            </div>

            <!-- Unnamed (Horizontal Line) -->
            <div id="u470" class="ax_default line">
              <img id="u470_img" class="img " src="{% static 'administracao/images/cargo/u470.png' %}"/>
              <!-- Unnamed () -->
              <div id="u471" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Horizontal Line) -->
            <div id="u472" class="ax_default line">
              <img id="u472_img" class="img " src="{% static 'administracao/images/cargo/u470.png' %}"/>
              <!-- Unnamed () -->
              <div id="u473" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Horizontal Line) -->
            <div id="u474" class="ax_default line">
              <img id="u474_img" class="img " src="{% static 'administracao/images/cargo/u470.png' %}"/>
              <!-- Unnamed () -->
              <div id="u475" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Horizontal Line) -->
            <div id="u476" class="ax_default line">
              <img id="u476_img" class="img " src="{% static 'administracao/images/cargo/u470.png' %}"/>
              <!-- Unnamed () -->
              <div id="u477" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Horizontal Line) -->
            <div id="u478" class="ax_default line">
              <img id="u478_img" class="img " src="{% static 'administracao/images/cargo/u470.png' %}"/>
              <!-- Unnamed () -->
              <div id="u479" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Horizontal Line) -->
            <div id="u480" class="ax_default line">
              <img id="u480_img" class="img " src="{% static 'administracao/images/cargo/u470.png' %}"/>
              <!-- Unnamed () -->
              <div id="u481" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Horizontal Line) -->
            <div id="u482" class="ax_default line">
              <img id="u482_img" class="img " src="{% static 'administracao/images/cargo/u470.png' %}"/>
              <!-- Unnamed () -->
              <div id="u483" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Horizontal Line) -->
            <div id="u484" class="ax_default line">
              <img id="u484_img" class="img " src="{% static 'administracao/images/cargo/u470.png' %}"/>
              <!-- Unnamed () -->
              <div id="u485" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>

            <!-- Unnamed (Horizontal Line) -->
            <div id="u486" class="ax_default line">
              <img id="u486_img" class="img " src="{% static 'administracao/images/cargo/u470.png' %}"/>
              <!-- Unnamed () -->
              <div id="u487" class="text" style="display: none; visibility: hidden">
                <p><span style="font-family:'Verdana Normal', 'Verdana';"></span></p>
              </div>
            </div>
          </div>
        </div>

      </div>

{% endblock %}