{% extends 'administracao/crud-table.html' %}

{% block records %}

    <thead>
    <tr>
        {% for item in data.labels %}
            <th>{{ item }}</th>
        {% endfor %}
        <th>Ações</th>
    </tr>
    </thead>

    <tbody>
    {% for item in data.object_list %}
    <tr class="odd gradeX">
        {% for attr in item %}
            <td>{{ attr }}</td>
        {% endfor %}
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                    Editar
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Modificar</a></li>
                    <li><a href="#">Excluir</a></li>
                </ul>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>

{% endblock %}