{% extends 'administracao/crud-table.html' %}
{% load getattr %}
{% load verbose %}

{% block records %}

    <thead>
    <tr>
        {% for item in form.fields %}
            <th>{% verbose form.instance item %}</th>
        {% endfor %}
        <th>Ações</th>
    </tr>
    </thead>

    <tbody>
    {% for item in data %}
    <tr class="odd gradeX">
        {% for field in form.fields %}
            <td>{{ item|getattr:field }}</td>
        {% endfor %}
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                    Editar
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Modificar</a></li>
                    <li><a href="#">Excluir</a></li>
                </ul>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>

{% endblock %}